/.gradle
/.idea
/out
/build
*.ipr
*.iws
local.properties

# all subprojects
*.iml
/**/out/
/**/.idea/
/**/.gradle
/**/build

# android
/android/.DS_Store
/android/.externalNativeBuild
/android/.cxx

# shared
/shared/build
/shared/.gradle

# server
/server/.gradle
/server/build

# http
/server/http/http-client.env.private.json